.rpc-result {
		font-size: large;
    color: green;
}
body { 
    background-image: url(https://wtipwallet.havens.space/assets/img/site-background.jpg);
    background-repeat: no-repeat;
    background-color:#1E1F24; 
}

p {
	color: #fff;
}

.logo {
	margin: 30px;
	width: 300px;
	height: 300px;	
	vertical-align: top;
}

.text1 {
	color: #fff;
  display: inline;
  line-height: 345px;
}

.footer {
  padding-top: 80pt;
  text-align: center;
}
